In [5]:
import os
import pandas as pd
import numpy as np

In [2]:
#How-to-count-distance-to-the-previous-zero
import numpy as np
import pandas as pd

In [15]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [68]:
s = df['X']

In [69]:
(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [53]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
import pandas as pd
import numpy as np
import datetime as dt


data_arr = np.empty((0))
date_val = np.empty((0))
date_val_month = np.empty((0))
start_date = '2015-01-01'
end_date = '2015-12-31'
for date in pd.date_range(start_date, end_date):
    #print(date)
    date_val = np.append(date_val,date.strftime('%Y-%m-%d'))
    date_val_month = np.append(date_val_month, date.strftime('%Y-%m'))
    data_arr = np.append(data_arr,date.strftime('%A'))
    #print(data_arr)
    #print(np.append(data_arr,date.strftime('%A')))

#data_arr = np.array(data_arr).reshape(365,1)
print(date_val_month)

['2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01'
 '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01'
 '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01'
 '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01' '2015-01'
 '2015-01' '2015-01' '2015-01' '2015-02' '2015-02' '2015-02' '2015-02'
 '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02'
 '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02'
 '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02' '2015-02'
 '2015-02' '2015-02' '2015-02' '2015-03' '2015-03' '2015-03' '2015-03'
 '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03'
 '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03'
 '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03'
 '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-03' '2015-04'
 '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04'
 '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04'
 '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04'
 '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04' '2015-04'
 '2015-04' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05'
 '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05'
 '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05'
 '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05' '2015-05'
 '2015-05' '2015-05' '2015-05' '2015-05' '2015-06' '2015-06' '2015-06'
 '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06'
 '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06'
 '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06'
 '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-06' '2015-07'
 '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07'
 '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07'
 '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07'
 '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07' '2015-07'
 '2015-07' '2015-07' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08'
 '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08'
 '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08'
 '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-08'
 '2015-08' '2015-08' '2015-08' '2015-08' '2015-08' '2015-09' '2015-09'
 '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09'
 '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09'
 '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09'
 '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09' '2015-09'
 '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10'
 '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10'
 '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10'
 '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10' '2015-10'
 '2015-10' '2015-10' '2015-10' '2015-11' '2015-11' '2015-11' '2015-11'
 '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11'
 '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11'
 '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-11'
 '2015-11' '2015-11' '2015-11' '2015-11' '2015-11' '2015-12' '2015-12'
 '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12'
 '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12'
 '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12'
 '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12' '2015-12'
 '2015-12']

In [45]:
import numpy as np
import pandas as pd

rand_num = np.random.rand(365,1)

df = pd.DataFrame(data=rand_num,index=data_arr,columns=['Rand_num'])
df.index.name = 'Day'

df['WorkDay'] = df.index

df.head(10)

           Rand_num    WorkDay
Day
Thursday   0.445410   Thursday
Friday     0.563276     Friday
Saturday   0.332205   Saturday
Sunday     0.839659     Sunday
Monday     0.423074     Monday
Tuesday    0.774200    Tuesday
Wednesday  0.788327  Wednesday
Thursday   0.610184   Thursday
Friday     0.975361     Friday
Saturday   0.210745   Saturday

In [54]:
df['Month'] = date_val_month

In [55]:
df.head()

          Rand_num   WorkDay    Date_val    Month
Day
Thursday  0.445410  Thursday  2015-01-01  2015-01
Friday    0.563276    Friday  2015-01-02  2015-01
Saturday  0.332205  Saturday  2015-01-03  2015-01
Sunday    0.839659    Sunday  2015-01-04  2015-01
Monday    0.423074    Monday  2015-01-05  2015-01

In [46]:
# Wednesday aggregation of Random Number
df.pivot_table(values='Rand_num',index='Day',aggfunc='sum')

            Rand_num
Day
Friday     24.412255
Monday     29.789072
Saturday   24.884996
Sunday     26.217328
Thursday   30.282485
Tuesday    25.337085
Wednesday  28.921689

In [58]:
#Month wise mean.
df.pivot_table(values='Rand_num',index='Month',aggfunc='mean')

         Rand_num
Month
2015-01  0.589819
2015-02  0.596067
2015-03  0.461559
2015-04  0.540977
2015-05  0.545885
2015-06  0.463152
2015-07  0.555911
2015-08  0.449784
2015-09  0.567485
2015-10  0.547652
2015-11  0.442857
2015-12  0.485548

In [6]:
range = pd.date_range('2015-01-01', '2015-12-31', freq='1D')
df_test = pd.DataFrame(index = range)
df_test.head()

Empty DataFrame
Columns: []
Index: [2015-01-01 00:00:00, 2015-01-02 00:00:00, 2015-01-03 00:00:00, 2015-01-04 00:00:00, 2015-01-05 00:00:00]

In [7]:
rand_num = np.random.rand(365,1)

In [8]:
df_test['Rand_num'] = rand_num

In [11]:
df_test.index.names=['Date']

In [12]:
df_test.head()

            Rand_num
Date
2015-01-01  0.319116
2015-01-02  0.437350
2015-01-03  0.140859
2015-01-04  0.172262
2015-01-05  0.477773

In [78]:
#print(df_test.Rand_num.resample('M'))
#population = crime['Population'].resample('10AS').max()

df_test['Rand_num'].resample('M').mean()

2015-01-31    0.589819
2015-02-28    0.596067
2015-03-31    0.461559
2015-04-30    0.540977
2015-05-31    0.545885
2015-06-30    0.463152
2015-07-31    0.555911
2015-08-31    0.449784
2015-09-30    0.567485
2015-10-31    0.547652
2015-11-30    0.442857
2015-12-31    0.485548
Freq: M, Name: Rand_num, dtype: float64

In [81]:
df_test['Rand_num'].resample('D').max()

2015-12-31    0.999924
Freq: A-DEC, Name: Rand_num, dtype: float64

In [15]:
#df_test.pivot_table(values='Rand_num',index['Day']='Wednesday',aggfunc='sum')
df_test['Rand_num'].resample('4M').max()
#df_test[df_test['Date'] == 'Wednesday'].groupby('Rand_num').sum()

Date
2015-01-31    0.952302
2015-05-31    0.999545
2015-09-30    0.996527
2016-01-31    0.991957
Name: Rand_num, dtype: float64